* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar .nav-links li {
    margin-left: 20px;
}

.navbar .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar .nav-links a:hover {
    color: pink;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    background-color: white;
    height: 3px;
    width: 25px;
    margin: 4px 0;
    transition: all 0.3s ease;
}

/* Styles responsive */
@media (max-width: 768px) {
    .navbar .nav-links {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #333;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links li {
        margin: 15px 0;
    }

    .menu-toggle {
        display: flex;
    }

    .navbar.active .nav-links {
        display: flex;
    }

    .navbar.active .menu-toggle span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .navbar.active .menu-toggle span:nth-child(2) {
        opacity: 0;
    }

    .navbar.active .menu-toggle span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }
}
